{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Welcome back, {{ user.first_name}}</h1>
        {% if user.stravauser.is_strava_verified %}
                {% if user.stravauser.has_completed_initial_download %}
                    <div class="container text-left">
                        <div class="row">
                            <div class="col">
                                {% if num_recent == 0 %}
                                    <p>It looks like you haven't uploaded any activities to Strava yet.</p>
                                {% else %}
                                    {% if num_recent == 1 %}
                                        <p>Your most recent (and only) activity was:</p>
                                    {% else %}
                                        <p>Your most recent {{num_recent}} activities were:</p>
                                    {% endif %}
                                    {% for act in most_recent %}
                                        <p><a href="https://www.strava.com/activities/{{act.activity_id}}">{{act.name}} on {{act.start_date_local}}</a></p> 
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col">
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <canvas id="pie_chart" data-url="{% url 'strava_info:pie_chart_data' %}" aria-label="Pie chart" role="img"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <div class="row">
                                <div class="col">
                                        {% comment %} If we haven't subscribed to Strava webhooks yet,
                                        do so. Otherwise, put up option to unsubscribe.  {% endcomment %}
                                    {% if strava_web_subscribed %}
                                        <p>Strava Webhook Subscription ID = {{strava_web_sub_id}}</p>
                                        <a class="btn btn-primary" href="{% url 'strava_info:unsubscribe_strava_webhooks' %}" role="button">Unsubscribe from Webhooks</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{% url 'strava_info:subscribe_to_strava_webhooks' %}" role="button">Subscribe to Strava Webhooks</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

                    <script>
                        Chart.register(ChartDataLabels);

                        $(function () {
                            var $chart = $("#pie_chart");
                            
                            $.ajax({
                                url: $chart.data("url"),
                                success: function (data) {
                                    var ctx = $chart[0].getContext("2d");
                                    new Chart(ctx, {
                                        type: 'pie',
                                        data: {
                                            labels: data.labels,
                                            datasets: [{
                                                data: data.data,
                                                backgroundColor: data.colors
                                            }]
                                        },
                                        options: {
                                            animation : true,
                                            plugins: {
                                                legend: {
                                                    display: true
                                                },
                                                tooltip: {
                                                    enabled: true
                                                },
                                                colors: {
                                                    enabled : true
                                                },
                                                title: {
                                                    display: true,
                                                    text: data.title_text
                                                },
                                                datalabels: {
                                                    font: {
                                                        weight: 'bold'
                                                    },
                                                    anchor: 'center',
                                                    align: 'center',
                                                    formatter: function(value, context) {
                                                        return value+'%'
                                                    }
                                                }
                                            },
                                        }
                                    });
                                }
                            })
                        })

                        
                    </script>



                {% else %}
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <p>Thank you for authorizing NerdDad to work with your Strava data. The final step is to download your Strava Data
                                by clicking the button below.</p>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url 'strava_info:get_strava_data' %}" role="button">Download Strava Data</a>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% else %}
            <p>To get started, please authorize NerdDat to download your Strava data by clicking the button below. This will take you
                to Strava's authorization page where you can chose to give NerdDad access. You can always undo this by
                revoking NerdDat's access in Settings/My Apps on the Strava website.
            </p>
            <a class="btn btn-primary" href="{% url 'social:begin' 'strava' %}" role="button">Connect to Strava</a>
        {% endif %}        

    {% else %}
        <div class="container text-left">
            <div class="row">
                <div class="col text-left">
                    <h1>Welcome to NerdDat</h1>
                    <h2>Mark's Nerdy Fitness Data Site</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card border-dark mb-3" style="width: 18rem;">
                        <img src="{% static 'images/logo_cropped.jpeg' %}" class="card-img-top" alt="Fitness App Logo">
                        <div class="card-body">
                            <h5 class="card-title">Login or Register</h5>
                            <p class="card-text">Welcome. Please login to your account or register.</p>
                            <a class="btn btn-success" href="{% url 'users_app:login' %}" role="button">Login</a>
                            <a class="btn btn-primary" href="{% url 'users_app:register' %}" role="button">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <p>Login or Register so that you too can obsess over your Strava data. Here's how it works:</p>
                    <ul>
                        <li>Create an account by registering (currently by invitation only during testing).
                        <li>Follow the instructions to authorize Strava to allow NerdDat to access your Strava data.
                        <li>Begin the initial download of your data. You'll only need to do this once. Afterwards any new activities
                            you post to Strava will be automatically downloaded by NerdDat until you revoke access.
                    </ul>
                    <p>NerdDat produces tables and charts that analyze your Strava activities.
                        It also provides a search function for your activities. I use this for route planning.
                        For instance, if I want to take a 50 mile ride with 3,000 feet of elevation gain, I'll have
                        NerdDat provide a list links to my Strava activities that meet those criteria. Then, I can review those activities and
                        decide if I want to ride one again or use Strava's route planning feature to find a new route.
                    </p>
                    <p>A note about your data: In order to analyze your data efficiently, NerdDat downloads your Strava data and stores it
                        in a database on its servers. If you decide to stop using Ner-Dat, you can easily delete your data:
                        <ol>
                            <li>Log into Strava's website.</li>
                            <li>In Strava's settings to go to <a href="https://www.strava.com/settings/apps">My Apps</a>.</li>
                            <li>Click the Revoke Access button next to NerdDat</li>
                        </ol>
                        That will stop Strava from sending any new data to NerdDat and trigger NerdDat to delete all of the activity data
                        it has stored for you. It will not delete your account, however. To do that, click the link to delete your account
                        in NerdDat's settings page.
                    </p>

                </div>
            </div>
    {% endif %}
{% endblock %}