{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <h2>NerdDat Settings</h2>
            </div>
        </div>
        <div class="row">
            <div class="column text-left">
                {% if user.stravauser %}
                    {% if user.stravauser.preferred_units == "imperial" %}
                        <p><a href="{% url 'strava_info:switch_units' %}">Switch to Metic Units</a></p>
                    {% else %}
                        <p><a href="{% url 'strava_info:switch_units' %}">Switch to Imperial Units</a></p>
                    {% endif %}
                    <p><a href="{% url 'strava_info:update_strava_data' %}">Update Your Strava Data</a></p>
                    <p><a href="{% url 'strava_info:delete_strava_data' %}">Delete Your Strava Data</a></p>
                {% endif %}
                <p><a href="{% url 'users_app:delete_nerd_account' %}">Delete Your NerdDat Account</a></p>
                <p><a href="{% url 'users_app:change_password' %}">Change Your Password</a></p>
            </div>
        </div>
    </di>
{% endblock %}